@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  --grey-color: #d8d8d8;
  --light-blue: #0c88ef;
  --medium-blue: #0d1d2d;
  --dark-blue: #0c151d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif !important;
  background-color: var(--dark-blue) !important;
  color: var(--grey-color) !important;
  padding-top: 80px !important;
}
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.764);
}

body::-webkit-scrollbar-thumb {
  background: var(--light-blue);
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--medium-blue);
}
@media (max-width: 992px) {
  body {
    padding-bottom: 40px;
  }
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px !important;
  height: 80px !important;
  background: var(--medium-blue);
  z-index: 100;
}
header > div {
  width: calc(100% / 3);
}
header .logo {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 3px;
  color: var(--light-blue);
}
.search-bar input {
  width: 100%;
  border-radius: 20px;
  padding: 10px !important;
  font-size: 1.2rem;
  background: var(--dark-blue);
  border: none;
  outline: none;
  color: var(--grey-color);
  transition: all 0.3s ease;
}
.search-bar input:focus {
  transform: scale(1.05);
  box-shadow: 1px 1px 1px 1px var(--dark-blue);
}
header .navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  gap: 20px;
}
header .navigation > div {
  background: var(--dark-blue);
  min-width: 45px;
  min-height: 45px;
  font-size: 1.2rem;
  display: grid;
  place-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}
header .navigation > div:hover {
  background: #0c141c92;
  transform: scale(1.3);
}
header .navigation .unseen {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: crimson;
  right: 0;
}

/*Start Footer nav*/

nav.footer-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--dark-blue);
  padding: 10px 20px;
  box-shadow: -1px -1px 1px 1px #333;
}
nav.footer-nav > div {
  cursor: pointer;
  font-size: 1.3rem;
  transition: all 0.3s ease;
}
nav.footer-nav > div:hover {
  transform: scale(1.5);
}
/*End Footer nav*/
.has-scrollbar {
  padding-bottom: 5px;
}

.has-scrollbar::-webkit-scrollbar {
  width: 12px; /* for vertical scroll */
  height: 12px; /* for horizontal scroll */
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 20px;
}
