.main .right .friend-active h4 {
    margin: 20px 0;
}

.main .right .friend-active .friends
{
    overflow-y: scroll;
    max-height: 600px;
    margin-top:20px;
    padding-left: 10px;
}

.card{
    position: relative;
    border-radius: 25px;
    background-color: #0d1d2e;
    width: 100%;
    height: 100%;
}

.swiper {
    width: 850px;
    height: 270px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-navBtn{
    color: #0c88ef;
    transition: color 0.3s ease;
    margin: 0px;
    padding: 0px;
}

.swiper-navBtn:hover{
    color: #4070F4;
}

.friends-word{
    margin-top: 20px;
}

.friend-card{
    position: relative;
    border-radius: 25px;
    background-color: #0d1d2e;
    width: 22%;
    height: 100%;
    margin: auto;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.page-link{
    color: #0c88ef;
}

.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.card-image{
    position: relative;
    height: 85px;
    width: 85px;
    border-radius: 50%;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.name{
    font-size: 18px;
    font-weight: 500;
}

.mutual-friends{
    font-size: 14px;
    text-align: center;
}

.unf-btn{
    margin-top: 5px;
}

.pagination > li > a
{
    background-color: #0d1d2e;
    color: #d8d8d8;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #d8d8d8;
    background-color: #0c88ef;
    border-color: #d8d8d8;
}